In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import unicodedata
import re
import os
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

df_test = pd.read_csv("../ventas_limpias.csv")

print(df_test)
# [1.048.574  rows x 11 columns]
# 11 Columnas
# 1.048.575 rows

In [7]:
#Carga el archivo .env
load_dotenv(override=True)

#Variables de entorno

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")


URL = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(URL)

conn = engine.connect()
try:
    print("Connection Succesfull!!" if conn else "")

except Exception as e:
    print("Error al conectar la base datos en", e)

Connection Succesfull!!

In [ ]:
#set = conn.execute(text("SET search_path TO riwi_ventas"))

df = pd.read_sql(text("SELECT * FROM factura_ventas;"),conn)
print(df)

         venta_id       fecha  ciudad_id  producto_id  tipo_venta_id  \
0               1  2025-10-30          1            1              1
1               2  2025-11-17          2            1              2
2               3  2025-10-22          3            2              2
3               4  2025-10-20          4            3              3
4               5  2025-10-20          5            4              2
...           ...         ...        ...          ...            ...
1048570   1048571  2025-10-23         18           53              1
1048571   1048572  2025-11-13         14           39              3
1048572   1048573  2025-10-30         11           71              5
1048573   1048574  2025-10-23          5           41              1
1048574   1048575  2025-10-22         24            8              4

         tipo_cliente_id  cantidad  precio_unitario  descuento  costo_envio  \
0                      1       2.0           3681.0       0.20          0.0
1                      2       7.0           2321.0       0.15          0.0
2                      2       9.0           3540.0       0.20          0.0
3                      2       3.0           3287.0       0.05          0.0
4                      3       2.0           3414.0       0.00          0.0
...                  ...       ...              ...        ...          ...
1048570                3       9.0           4325.0       0.05          0.0
1048571                2       7.0           1187.0       0.15          0.0
1048572                4       8.0           3575.0       0.10          0.0
1048573                4      10.0           2073.0       0.00          0.0
1048574                1       1.0           1192.0       0.00          0.0

         total_venta
0            5889.60
1           13809.95
2           25488.00
3            9367.95
4            6828.00
...              ...
1048570     36978.75
1048571      7062.65
1048572     25740.00
1048573     20730.00
1048574      1192.00

[1048575 rows x 11 columns]